wheel
captum
gymnasium[atari, accept-rom-license]
imageio
joblib
matplotlib
numpy
opencv_python
scikit-build
packaging
pandas
colormath
Pillow
rtpt
scikit_learn
scipy
seaborn
tensorboard
torch
torchinfo
torchvision
tqdm
yacs
atari_py
termcolor
webcolors
graphviz
git+https://github.com/mila-iqia/atari-representation-learning.git
git+https://github.com/k4ntz/OC_Atari