gymnasium[atari, accept-rom-license]
rtpt
atari_py
termcolor
torch
torchinfo
numpy
opencv_python
joblib
tensorboard
tqdm
pyyaml
colormath
yacs
git+https://github.com/mila-iqia/atari-representation-learning.git
git+https://github.com/k4ntz/OC_Atari