gymnasium[atari, accept-rom-license]
rtpt
termcolor
torch
torchinfo
numpy<2.0
opencv_python
joblib
tensorboard
tqdm
rich
pandas
pyyaml
colormath
yacs
captum
notebook
huggingface_hub
joblib
scikit-learn==1.3.2
ocatari @ git+https://github.com/k4ntz/OC_Atari@ns_impl
