
gymnasium[atari, accept-rom-license] == 0.26.3
shimmy[atari] # workaround for gymnasium v26.3 and ATARI https://gymnasium.farama.org/main/release_notes/gymnasium_v0.26.3/
rtpt
termcolor
torch
torchinfo
#opencv_python ~= 3.4.0
joblib
tensorboard
tqdm
pyyaml
colormath
yacs
captum
notebook
torchvision # from space and moc
attrdict # from space and moc
NicePrinter # from space and moc
# ocatari @ git+https://github.com/k4ntz/OC_Atari.git
remix @ git+https://github.com/mateoespinosa/remix # first R and R packages need to be installed as in README of that repo
# visualization stuff bokeh
bokeh